<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibei.wine.paycenter.dao.TAdjustOrderLogMapper" >
  <resultMap id="BaseResultMap" type="com.baibei.wine.paycenter.model.TAdjustOrderLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="org_status" property="orgStatus" jdbcType="VARCHAR" />
    <result column="channel_status" property="channelStatus" jdbcType="VARCHAR" />
    <result column="org_amount" property="orgAmount" jdbcType="BIGINT" />
    <result column="channel_amount" property="channelAmount" jdbcType="BIGINT" />
    <result column="is_notify" property="isNotify" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="org_create_time" property="orgCreateTime" jdbcType="TIMESTAMP" />
    <result column="org_update_time" property="orgUpdateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, business_type, order_type, order_id, org_status, channel_status, org_amount, 
    channel_amount, is_notify, channel, create_time, update_time, org_create_time, org_update_time, 
    remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibei.wine.paycenter.model.TAdjustOrderLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_adjust_order_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_adjust_order_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_adjust_order_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baibei.wine.paycenter.model.TAdjustOrderLogExample" >
    delete from t_adjust_order_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baibei.wine.paycenter.model.TAdjustOrderLog" >
    insert into t_adjust_order_log (id, business_type, order_type, 
      order_id, org_status, channel_status, 
      org_amount, channel_amount, is_notify, 
      channel, create_time, update_time, 
      org_create_time, org_update_time, remark
      )
    values (#{id,jdbcType=BIGINT}, #{businessType,jdbcType=VARCHAR}, #{orderType,jdbcType=VARCHAR}, 
      #{orderId,jdbcType=VARCHAR}, #{orgStatus,jdbcType=VARCHAR}, #{channelStatus,jdbcType=VARCHAR}, 
      #{orgAmount,jdbcType=BIGINT}, #{channelAmount,jdbcType=BIGINT}, #{isNotify,jdbcType=INTEGER}, 
      #{channel,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{orgCreateTime,jdbcType=TIMESTAMP}, #{orgUpdateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.baibei.wine.paycenter.model.TAdjustOrderLog" >
    insert into t_adjust_order_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="orgStatus != null" >
        org_status,
      </if>
      <if test="channelStatus != null" >
        channel_status,
      </if>
      <if test="orgAmount != null" >
        org_amount,
      </if>
      <if test="channelAmount != null" >
        channel_amount,
      </if>
      <if test="isNotify != null" >
        is_notify,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="orgCreateTime != null" >
        org_create_time,
      </if>
      <if test="orgUpdateTime != null" >
        org_update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orgStatus != null" >
        #{orgStatus,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null" >
        #{channelStatus,jdbcType=VARCHAR},
      </if>
      <if test="orgAmount != null" >
        #{orgAmount,jdbcType=BIGINT},
      </if>
      <if test="channelAmount != null" >
        #{channelAmount,jdbcType=BIGINT},
      </if>
      <if test="isNotify != null" >
        #{isNotify,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCreateTime != null" >
        #{orgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgUpdateTime != null" >
        #{orgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baibei.wine.paycenter.model.TAdjustOrderLogExample" resultType="java.lang.Integer" >
    select count(*) from t_adjust_order_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_adjust_order_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.businessType != null" >
        business_type = #{record.businessType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.orgStatus != null" >
        org_status = #{record.orgStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.channelStatus != null" >
        channel_status = #{record.channelStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.orgAmount != null" >
        org_amount = #{record.orgAmount,jdbcType=BIGINT},
      </if>
      <if test="record.channelAmount != null" >
        channel_amount = #{record.channelAmount,jdbcType=BIGINT},
      </if>
      <if test="record.isNotify != null" >
        is_notify = #{record.isNotify,jdbcType=INTEGER},
      </if>
      <if test="record.channel != null" >
        channel = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgCreateTime != null" >
        org_create_time = #{record.orgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orgUpdateTime != null" >
        org_update_time = #{record.orgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_adjust_order_log
    set id = #{record.id,jdbcType=BIGINT},
      business_type = #{record.businessType,jdbcType=VARCHAR},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      org_status = #{record.orgStatus,jdbcType=VARCHAR},
      channel_status = #{record.channelStatus,jdbcType=VARCHAR},
      org_amount = #{record.orgAmount,jdbcType=BIGINT},
      channel_amount = #{record.channelAmount,jdbcType=BIGINT},
      is_notify = #{record.isNotify,jdbcType=INTEGER},
      channel = #{record.channel,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      org_create_time = #{record.orgCreateTime,jdbcType=TIMESTAMP},
      org_update_time = #{record.orgUpdateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibei.wine.paycenter.model.TAdjustOrderLog" >
    update t_adjust_order_log
    <set >
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="orgStatus != null" >
        org_status = #{orgStatus,jdbcType=VARCHAR},
      </if>
      <if test="channelStatus != null" >
        channel_status = #{channelStatus,jdbcType=VARCHAR},
      </if>
      <if test="orgAmount != null" >
        org_amount = #{orgAmount,jdbcType=BIGINT},
      </if>
      <if test="channelAmount != null" >
        channel_amount = #{channelAmount,jdbcType=BIGINT},
      </if>
      <if test="isNotify != null" >
        is_notify = #{isNotify,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgCreateTime != null" >
        org_create_time = #{orgCreateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="orgUpdateTime != null" >
        org_update_time = #{orgUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baibei.wine.paycenter.model.TAdjustOrderLog" >
    update t_adjust_order_log
    set business_type = #{businessType,jdbcType=VARCHAR},
      order_type = #{orderType,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      org_status = #{orgStatus,jdbcType=VARCHAR},
      channel_status = #{channelStatus,jdbcType=VARCHAR},
      org_amount = #{orgAmount,jdbcType=BIGINT},
      channel_amount = #{channelAmount,jdbcType=BIGINT},
      is_notify = #{isNotify,jdbcType=INTEGER},
      channel = #{channel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      org_create_time = #{orgCreateTime,jdbcType=TIMESTAMP},
      org_update_time = #{orgUpdateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.baibei.wine.paycenter.model.TAdjustOrderLogExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_adjust_order_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>