<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibei.wine.paycenter.dao.TDailyPaycenterMapper" >
  <resultMap id="BaseResultMap" type="com.baibei.wine.paycenter.model.TDailyPaycenter" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="deal_date" property="dealDate" jdbcType="DATE" />
    <result column="amount_actual" property="amountActual" jdbcType="BIGINT" />
    <result column="order_status_actual" property="orderStatusActual" jdbcType="VARCHAR" />
    <result column="fail_type" property="failType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, business_type, order_id, amount, order_type, order_status, status, deal_date, 
    amount_actual, order_status_actual, fail_type, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibei.wine.paycenter.model.TDailyPaycenterExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_daily_paycenter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_daily_paycenter
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_daily_paycenter
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baibei.wine.paycenter.model.TDailyPaycenterExample" >
    delete from t_daily_paycenter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baibei.wine.paycenter.model.TDailyPaycenter" >
    insert into t_daily_paycenter (id, business_type, order_id, 
      amount, order_type, order_status, 
      status, deal_date, amount_actual, 
      order_status_actual, fail_type, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{businessType,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{amount,jdbcType=BIGINT}, #{orderType,jdbcType=VARCHAR}, #{orderStatus,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{dealDate,jdbcType=DATE}, #{amountActual,jdbcType=BIGINT}, 
      #{orderStatusActual,jdbcType=VARCHAR}, #{failType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.baibei.wine.paycenter.model.TDailyPaycenter" >
    insert into t_daily_paycenter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="dealDate != null" >
        deal_date,
      </if>
      <if test="amountActual != null" >
        amount_actual,
      </if>
      <if test="orderStatusActual != null" >
        order_status_actual,
      </if>
      <if test="failType != null" >
        fail_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null" >
        #{dealDate,jdbcType=DATE},
      </if>
      <if test="amountActual != null" >
        #{amountActual,jdbcType=BIGINT},
      </if>
      <if test="orderStatusActual != null" >
        #{orderStatusActual,jdbcType=VARCHAR},
      </if>
      <if test="failType != null" >
        #{failType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baibei.wine.paycenter.model.TDailyPaycenterExample" resultType="java.lang.Integer" >
    select count(*) from t_daily_paycenter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_daily_paycenter
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.businessType != null" >
        business_type = #{record.businessType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.dealDate != null" >
        deal_date = #{record.dealDate,jdbcType=DATE},
      </if>
      <if test="record.amountActual != null" >
        amount_actual = #{record.amountActual,jdbcType=BIGINT},
      </if>
      <if test="record.orderStatusActual != null" >
        order_status_actual = #{record.orderStatusActual,jdbcType=VARCHAR},
      </if>
      <if test="record.failType != null" >
        fail_type = #{record.failType,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_daily_paycenter
    set id = #{record.id,jdbcType=BIGINT},
      business_type = #{record.businessType,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=BIGINT},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      order_status = #{record.orderStatus,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      deal_date = #{record.dealDate,jdbcType=DATE},
      amount_actual = #{record.amountActual,jdbcType=BIGINT},
      order_status_actual = #{record.orderStatusActual,jdbcType=VARCHAR},
      fail_type = #{record.failType,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibei.wine.paycenter.model.TDailyPaycenter" >
    update t_daily_paycenter
    <set >
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="dealDate != null" >
        deal_date = #{dealDate,jdbcType=DATE},
      </if>
      <if test="amountActual != null" >
        amount_actual = #{amountActual,jdbcType=BIGINT},
      </if>
      <if test="orderStatusActual != null" >
        order_status_actual = #{orderStatusActual,jdbcType=VARCHAR},
      </if>
      <if test="failType != null" >
        fail_type = #{failType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baibei.wine.paycenter.model.TDailyPaycenter" >
    update t_daily_paycenter
    set business_type = #{businessType,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      order_type = #{orderType,jdbcType=VARCHAR},
      order_status = #{orderStatus,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      deal_date = #{dealDate,jdbcType=DATE},
      amount_actual = #{amountActual,jdbcType=BIGINT},
      order_status_actual = #{orderStatusActual,jdbcType=VARCHAR},
      fail_type = #{failType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.baibei.wine.paycenter.model.TDailyPaycenterExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_daily_paycenter
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>