<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baibei.wine.paycenter.dao.TWineRechargeOrderMapper" >
  <resultMap id="BaseResultMap" type="com.baibei.wine.paycenter.model.TWineRechargeOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="business_type" property="businessType" jdbcType="VARCHAR" />
    <result column="order_id" property="orderId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="handle_status" property="handleStatus" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="is_notify" property="isNotify" jdbcType="INTEGER" />
    <result column="channel" property="channel" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="reason" property="reason" jdbcType="VARCHAR" />
    <result column="status_update_time" property="statusUpdateTime" jdbcType="TIMESTAMP" />
    <result column="is_modify_balance" property="isModifyBalance" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, business_type, order_id, status, handle_status, amount, is_notify, channel, create_time, 
    update_time, account_id, user_id, reason, status_update_time, is_modify_balance, 
    type
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.baibei.wine.paycenter.model.TWineRechargeOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_wine_recharge_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_wine_recharge_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_wine_recharge_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.baibei.wine.paycenter.model.TWineRechargeOrderExample" >
    delete from t_wine_recharge_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.baibei.wine.paycenter.model.TWineRechargeOrder" >
    insert into t_wine_recharge_order (id, business_type, order_id, 
      status, handle_status, amount, 
      is_notify, channel, create_time, 
      update_time, account_id, user_id, 
      reason, status_update_time, is_modify_balance, 
      type)
    values (#{id,jdbcType=BIGINT}, #{businessType,jdbcType=VARCHAR}, #{orderId,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{handleStatus,jdbcType=VARCHAR}, #{amount,jdbcType=BIGINT}, 
      #{isNotify,jdbcType=INTEGER}, #{channel,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{accountId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, 
      #{reason,jdbcType=VARCHAR}, #{statusUpdateTime,jdbcType=TIMESTAMP}, #{isModifyBalance,jdbcType=INTEGER}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.baibei.wine.paycenter.model.TWineRechargeOrder" >
    insert into t_wine_recharge_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="businessType != null" >
        business_type,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="handleStatus != null" >
        handle_status,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="isNotify != null" >
        is_notify,
      </if>
      <if test="channel != null" >
        channel,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="accountId != null" >
        account_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="reason != null" >
        reason,
      </if>
      <if test="statusUpdateTime != null" >
        status_update_time,
      </if>
      <if test="isModifyBalance != null" >
        is_modify_balance,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="businessType != null" >
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="handleStatus != null" >
        #{handleStatus,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="isNotify != null" >
        #{isNotify,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null" >
        #{accountId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        #{reason,jdbcType=VARCHAR},
      </if>
      <if test="statusUpdateTime != null" >
        #{statusUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isModifyBalance != null" >
        #{isModifyBalance,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.baibei.wine.paycenter.model.TWineRechargeOrderExample" resultType="java.lang.Integer" >
    select count(*) from t_wine_recharge_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_wine_recharge_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.businessType != null" >
        business_type = #{record.businessType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null" >
        order_id = #{record.orderId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=VARCHAR},
      </if>
      <if test="record.handleStatus != null" >
        handle_status = #{record.handleStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null" >
        amount = #{record.amount,jdbcType=BIGINT},
      </if>
      <if test="record.isNotify != null" >
        is_notify = #{record.isNotify,jdbcType=INTEGER},
      </if>
      <if test="record.channel != null" >
        channel = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.accountId != null" >
        account_id = #{record.accountId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.reason != null" >
        reason = #{record.reason,jdbcType=VARCHAR},
      </if>
      <if test="record.statusUpdateTime != null" >
        status_update_time = #{record.statusUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isModifyBalance != null" >
        is_modify_balance = #{record.isModifyBalance,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_wine_recharge_order
    set id = #{record.id,jdbcType=BIGINT},
      business_type = #{record.businessType,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=VARCHAR},
      handle_status = #{record.handleStatus,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=BIGINT},
      is_notify = #{record.isNotify,jdbcType=INTEGER},
      channel = #{record.channel,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      account_id = #{record.accountId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      reason = #{record.reason,jdbcType=VARCHAR},
      status_update_time = #{record.statusUpdateTime,jdbcType=TIMESTAMP},
      is_modify_balance = #{record.isModifyBalance,jdbcType=INTEGER},
      type = #{record.type,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.baibei.wine.paycenter.model.TWineRechargeOrder" >
    update t_wine_recharge_order
    <set >
      <if test="businessType != null" >
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="handleStatus != null" >
        handle_status = #{handleStatus,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="isNotify != null" >
        is_notify = #{isNotify,jdbcType=INTEGER},
      </if>
      <if test="channel != null" >
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="accountId != null" >
        account_id = #{accountId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="reason != null" >
        reason = #{reason,jdbcType=VARCHAR},
      </if>
      <if test="statusUpdateTime != null" >
        status_update_time = #{statusUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isModifyBalance != null" >
        is_modify_balance = #{isModifyBalance,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.baibei.wine.paycenter.model.TWineRechargeOrder" >
    update t_wine_recharge_order
    set business_type = #{businessType,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      handle_status = #{handleStatus,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=BIGINT},
      is_notify = #{isNotify,jdbcType=INTEGER},
      channel = #{channel,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      account_id = #{accountId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      reason = #{reason,jdbcType=VARCHAR},
      status_update_time = #{statusUpdateTime,jdbcType=TIMESTAMP},
      is_modify_balance = #{isModifyBalance,jdbcType=INTEGER},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.baibei.wine.paycenter.model.TWineRechargeOrderExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_wine_recharge_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>